<div  style="background-color: #ddd6ce1c;">
<div class="container mx-auto">
    <h2 class="pt-10 pb-4 ">{{.Params.securityHead}}</h2>
   
    <p class="pb-6 text-justify">{{.Params.securityPara1}}{{.Params.securityPara2}}</p>
       
        <div class="flex flex-col lg:flex-row m-8 pb-8">
            <div class=" ml-4 mb-8 text-center w-full md:w-1/3">
            <img src="/images/sec-doors/TENTUFFHingedDoor-tp.png"
                class="foto w-full  object-cover shadow-md"
                alt="description" />
                <h3 class="pt-2"> Hinged Security - Main Door</h3>
            <a href="/hingeddoors/" class="">More Info.. </a>
            </div> 
            <div class="mt-6 lg:ml-10 ">
                <h6>{{.Params.securityHead1}}</h6>
                <ul class="mt-6 ">
                    <li> <svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Super-strong 304 Grade high tensile stainless steel wire</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Anti-theft 3-point locking mechanism</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Patented ‘Grip-lock’ mesh retention system</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Tamper-proof concealed fixing</span></li>
                    <li> <svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Weather and corrosion-resistant</span> </li>
                </ul>
            </div> 

        </div>
        <div class="pt-20 pb-20 text-center">
            <div class="flex flex-col justify-center gap-y-8  md:flex-row gap-x-10">
                <div class=" relative  place-self-center w-full h-auto lg:w-72 lg:h-36  md:mb-8 " >
                    <a href="/bifolddoors/"  ><img src="/images/sec-doors/Security-doors-Bi-Fold-TENTUFF-LR.jpg"
                        class="foto w-full h-full object-fit rounded shadow-md"
                        alt="description" /></a>
                        
                        <h6 class="pt-2 "> Bi-Fold Security Door</h6>
            <a href="/bifolddoors/"  >More Info..  </a>
                        
                </div>
                <div class=" relative  place-self-center w-full h-auto lg:w-72 lg:h-36  md:mb-8 " >
                    <a href="/frenchdoors/"><img src="/images/sec-doors/Security-doors-French-Tentuff-LR.jpg"
                        class="foto w-full h-full object-fit rounded shadow-md"
                        alt="description" /></a>
                        <h6 class="pt-2 ">French Security Door</h6>
            <a href="/frenchdoors/" class="">More Info.. </a>
                </div>
                <div class=" relative  place-self-center w-full h-auto lg:w-72 lg:h-36  md:mb-8 " >
                    <a href="/slidingdoors"><img src="/images/sec-doors/Security-doors-Sliding-Doors-TENTUFF-LR.jpg"
                        class="foto w-full h-full object-fit rounded shadow-md"
                        alt="description" /></a>
                        <h6 class="pt-2 "> Sliding Security Door</h6>
            <a href="/slidingdoors" class="text-center">More Info.. </a>
                </div>
            </div> 
        </div>
</div>
</div>