<div  class="sticky top-0 z-50">
  <div class="bg-custom-nav sticky top-0 z-50 ">
  <header class=" container">
  <div class="flex  justify-between lg:justify-end  top-bar  pt-0.5 ">
    <div class="flex-none">
    <i class="fa fa-phone " aria-hidden="true"><span class=""> 
      <a class="phone" href="tel:1800-572-3613">1800-572-3613</a></span></i>
    </div>
    <div class="md:place-self-end flex-none pl-1 md:pl-0">
    <i class="fa fa-whatsapp  md:pl-3 " aria-hidden="true"><span class="pl-1 flex-none"><a class="phone self-end" href="tel:+91-6366843592">WhatsApp: +91-6366843592</a></span></i>
  </div> 
  </div>
    <div class="flex  flex-row items-end  justify-between  flex-wrap  lg:flex-nowrap" style="text-transform: uppercase;">
    
  <div class="flex lg:items-center">
    
  <!--logo-->

        <a href="{{ .Site.BaseURL }}" class="flex lg:items-center justify-start  lg:mb-0  pointer-cursor">
    <img class=" w-42 h-16 border-2 border-transparent" src="/images/home-image/tentuff-logo.png" alt="">
  </a>   
  </div>
 
  <label for="menu-toggle" class="flex  justify-start self-center  z-10 pointer-cursor  lg:hidden inline-block ">
    <svg class="fill-current  text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
    
  
  <nav class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu"> 
  <!--navitem-->
  <ul class=" lg:flex w-full md:w-auto text-left  md:mt-0   border-none ">   
  <li><a href="{{ .Site.BaseURL }}" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2 border-none">Home</a></li>
  <!--product list-->
  <li class="dropdown inline-block pointer-cursor  text-gray-900 hover:text-yellow-500 px-2    md:border-none"><span class="text-gray-900 hover:text-yellow-500 hover:text-yellow-500  flex flex-row product">Products <i class="fa fa-caret-down menu-downicon pl-4 md:pl-1  place-self-center"></i></span>
  <ul class="dropdown-content  flex  pt-2   justify-start  hidden text-gray-900 z-10">
  <li class="dropdown bg-white border-l border-t border-r border-gray-300  block whitespace-no-wrap space-x-2 md:space-x-5  px-2"></a><a class="text-gray-900 hover:text-yellow-500" href="/securitydoors/" >Security doors</a><span><i class="fa fa-caret-right menu-righticon pl-7 md:pl-0.5"></i></span> 
  <ul class="dropdown-content  door-menu hidden text-gray-900 absolute  
  transition duration-150 ease-in-out origin-top-left
  min-w-32">
    
    <li class="bg-white border-l border-t border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/hingeddoors/" >Hinged security doors</a></li>
    <li class="bg-white border-l border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/slidingdoors/" >Sliding security doors</a></li>
    <li class="bg-white border-l border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/frenchdoors/" >French security doors</a></li>
    <li class="bg-white  border-l border-b border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/bifolddoors/" >Bi-fold security doors</a></li>
 
  </ul>
  </li>
    <li class="dropdown bg-white border-l border-r border-gray-300 space-x-2   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500"href="/securitywindows/">Security Windows </a><span><i class="fa fa-caret-right menu-righticon pl-3 md:pl-0.5"></i></span>
    <ul class="dropdown-content door-menu hidden text-gray-900 absolute  
    transition duration-150 ease-in-out origin-top-left
    min-w-32 ">
      <li class="bg-white   border-l border-t border-r border-gray-300  block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500"href="/hingedwin/" >Hinged security windows</a></li>
      <li  class="bg-white   border-l border-b border-r border-gray-300 block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/fixedwin/">Fixed security windows</a></li>
    </ul>
  </li>
    <li class="bg-white border-l border-r border-gray-300    block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/patio/" >Patio Enclosure</a></li>
    <li class="bg-white border-l  border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500 " href="/escape/" >Escape Windows</a></li>
    <li class="bg-white border-l border-b border-r border-gray-300   block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500 " href="/prevent/" >Pre-vent</a></li>
  </ul>
  
  </li>
  <!--product ends-->
  <li><a href="/assurance/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">Assurance</a></li>
  <li class="dropdown inline-block  text-gray-900 hover:text-yellow-500 px-2  md:border-none"><span class="text-gray-900 hover:text-yellow-500 flex flex-row product">Gallery <i class="fa fa-caret-down menu-downicon pl-4 md:pl-1 place-self-center "></i></span>
    <!--<li><a href="/installations/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">Installations</a></li>-->
  <!--<li><a  class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">Gallery</a></li>-->
  <ul class="dropdown-content  flex  pt-2   justify-start  hidden text-gray-900 z-10">
    <li class="bg-white hover:text-yellow-500 border-l border-t border-r border-gray-300 text-gray-900  block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/gallery/">Gallery</a></li>
    <li class="bg-white border-l border-b border-r border-gray-300 text-gray-900  block whitespace-no-wrap  px-2"><a class="text-gray-900 hover:text-yellow-500" href="/installations/" >Installations</a></li>
    </ul>
  </li>
  <li><a href="/compare/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">comparison</a></li>
  
  <li><a href="/testing/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2 md:border-none">Testing</a></li>
  <li><a href="/warrenty/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">Warranty&Care</a></li>
  <li class="flex-none"><a href="/contact/" class="block md:inline-block text-gray-900 hover:text-yellow-500 px-2  md:border-none">Contact Us</a></li>
  
  </ul> 
  </nav>
    </div>
  
  </header>
  </div>
  </div>
  
  
  
   
  
  