<div style="background-color: #ddd6ce1c">
  <div class="container">
    <h2 class="pt-10 pb-4">{{.Params.patioHead}}</h2>
    <h3 class="pb-4">{{.Params.patioHead2}}</h3>
    <p class="lg:ml-6 text-justify">{{.Params.patioPara}}</p>
    <div><a href="/contact/"><button
      class="btn text-white hover:text-gray-600 m-4 rounded px-5 py-2 outline-none focus"
    >
      Request Quote >
    </button></a>
</div>
    <div
      class="mt-5 flex flex-col gap-y-8 lg:flex-row justify-between place-items-center"
    >
      <div class="relative place-self-center lg:w-1/2">
        <div class="">
          <div class="mySlides fade shadow-md">
        <img 
          src="/images/Patio-Enclosure-Open-Tentuff-LR.jpg"
          
          class=""
          alt="description"
        />
      </div>
      <div class="mySlides fade shadow-md">
        <img src="/images/Patio-Enclosure-Open-with-Tentuff-Security-LR.jpg">
      </div>
    </div>
       
      </div>
      <div class="place-self-start">
        <h6 class="pt-6 md:pt-0 leading-7 ">{{.Params.patioHead3}}</h6>
        <ul class="pt-2">
          <li>
            <svg class="inline-block w-6 h-6" position="" fill="#cc6f04">
              <path
                d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path></svg><span> &nbsp;Makes the area mosquito and fly-proof</span>
          </li>
          <li>
            <svg class="inline-block w-6 h-6" position="" fill="#cc6f04">
              <path
                d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path></svg><span> &nbsp;Prevents falls from heights</span>
          </li>
          <li>
            <svg class="inline-block w-6 h-6" position="" fill="#cc6f04">
              <path
                d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path></svg><span> &nbsp;Filters UV rays</span>
          </li>
          <li>
            <svg class="inline-block w-6 h-6" position="" fill="#cc6f04">
              <path
                d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path></svg><span> &nbsp; Allows smooth flow of breeze</span>
          </li>
          <li>
            <svg class="inline-block w-6 h-6" position="" fill="#cc6f04">
              <path
                d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path></svg><span> &nbsp; Enhances the aesthetics</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
  var slideIndex = 0;
  showSlides();
  
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    
    slides[slideIndex-1].style.display = "block";  
  
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
  </script>