<div  style="background-color: #ddd6ce1c;">
<section class="container">
<h2 class="pt-10 pb-4">{{.Params.assuranceHead}}</h2>
<h6 class="mb-4">{{.Params.assuranceHead1}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara}}</p>


<h4 class="mb-4">{{.Params.assuranceHead2}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead2}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara2}}</p>

<h4 class="mb-4">{{.Params.assuranceHead3}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead3}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara3}}</p>

<h4 class="mb-4">{{.Params.assuranceHead4}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead4}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara4}}</p>

<h4 class="mb-4">{{.Params.assuranceHead5}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead5}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara5}}</p>

<h4 class="mb-4">{{.Params.assuranceHead6}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead6}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara6}}</p>

<h4 class="mb-4">{{.Params.assuranceHead7}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead7}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara7}}</p>

<h4 class="mb-4">{{.Params.assuranceHead8}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead8}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara8}}</p>

<h4 class="mb-4">{{.Params.assuranceHead9}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead9}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara9}}</p>

<h4 class="mb-4">{{.Params.assuranceHead10}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead10}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara10}}</p>

<h4 class="mb-4">{{.Params.assuranceHead11}}</h4>
<h6 class="mb-4">{{.Params.assuranceSubHead11}}</h6>
<p class="mb-10 text-justify"> {{.Params.assurancePara11}}</p>

</section>
</div>
