.testimonial {
    //grid-area: testimonial;
    // grid-column: start-960/end-960;
    // grid-row: 3;
    margin: 0 0 0 30px;
    width: 40%;
    padding: 10px;
    position: relative;
    font-style: italic;
    position: relative;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  .testimonial:before,
  .testimonial:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 15%;
    border-left: 0px solid transparent;
  }
  
  .testimonial:before {
    border-right: 34px solid transparent;
    // border-top: 34px solid black;
    z-index: 1;
  }
  
  .testimonial:after {
    margin-top: -1px;
    margin-left: 1px;
    border-right: 33px solid transparent;
    border-top: 33px solid #f5f5f7;
    z-index: 2;
  }
  .testimonial-text {
    padding-top: 2rem;
    grid-area: testimonial-text;
    // grid-row: 4;
    justify-self: start;
    text-align: left;
    // padding-left: 8rem;
  }
  .testimonial p{
    font-size: 16px;
  }