@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://fonts.cdnfonts.com/css/acumin-pro');
@import "fontstyles";
@import "testimonal";


#menu-toggle { 
    position: relative;
 }
 @media (min-width:974px){
  .dropdown:hover > .dropdown-content {
        display: inline-block;
        position:absolute;
}
 }
 @media (max-width:973px){
    .dropdown:hover > .dropdown-content {
        display: inline-block;
        //position: fixed;
      
}   
 }
       
 #menu-toggle:checked + #menu {
      display: block;
     
 }
   
 @media (min-width:974px){
 .door-menu{
    width:12.4rem;
    
}
 }
 @media (max-width:973px){
 .door-menu{
    //display: inline-block;
    width:10rem;
   
   
 }
}
 
///////////////////////slider///////////////

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    
    -webkit-transition: all 0.7s ease-out;
    transition: opacity 0.7s ease-out;
    //transition:all 0.8s ease-out;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet, 
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet{
    color:   #c58234;  /*Set to match the Tailwind colour you want the active one to be */
}

.warricon {
  width: 0.8rem;
  height: 0.8rem;
  
  z-index: -1;
}

.fade {
    transition: transform 0.5s ease;
  will-change: transform;
  z-index:-1;
  }
  
  