<div class="container">
  <div class="flex">
    <div class=" pb-9 ">
        <h2 class="text-center">TENTUFF - Better than your Steel Doors</h2>
<p class="pt-4 text-justify">
  TENTUFF is an Australian innovation, designed for security with style.Our
  products have been put through rigorous testing and have been provento be
  better than steel doors. At first, let us discuss why Steel Security Doors has been the choice so far,
  Steel Security doors generally offer a higher degree of security on all fronts
  with Reinforced Hinges, Hazard Resistant materials, and Theft
  Deterrent/Tamper-proof. Many home-owners opt from a wide range of designer Metal or Steel Grills
  and/or Solid Steel doors to ensure the safety of their homes, windows or
  establishments.<br />
</p>

  </div>


   
</div>
</div>
