{{ define "main" }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSZ72Q6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{{ partial "home/slider.html" . }}

{{ partial "home/anAustralian.html" . }}  

{{ partial "home/ourProducts.html" . }}

{{ partial "home/everyTentuff.html" . }}

{{ partial "home/testimonal.html" . }}

{{ partial "home/build.html" . }}

{{ end }}
