<div  style="background-color: #ddd6ce1c;">

<div class="container pt-10">
  
  <section class="py-8 px-4">
    <div class="w-full flex flex-col md:flex-row md:space-x-8 ">
      <div class="md:w-3/5 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/gallery/Tentuff-Security-Windows-1LR.jpg" alt=""></div>
      <div class="md:2/5 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/gallery/Security-doors-French-Tentuff-LR.jpg" alt=""></div>
     </div>
     <div class="w-full flex flex-col md:flex-row md:space-x-8 py-8  md:pr-12">
      <div class="w-full md:w-2/5 pb-6 "><img class="rounded shadow-md w-full h-full object-fit " src="/images/sec-doors/bi-fold-door/Security-doors-Bi-Fold-TENTUFF-LR.jpg" alt="" ></div>
      <div class="md:w-3/5 pb-6 "><img class="rounded shadow-md w-full object-fit" src="/images/gallery/HINGED-DOOR-TENTUFF-4-1.png"  alt=""></div> 
     </div>
  </section>
  </div>
</div>



