<div  style="background-color: #ddd6ce1c;">
  <div class="container mx-auto px-4">
    <div class="text-center">
    <h2 class="pt-8 pb-4 ">Our Recent Installations</h2>
  </div>           
    <section class="pt-8 px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="hidden md:block md:w-1/2 px-4">
          <div class="h-full w-full bg-cover rounded shadow-md" style="background-image: url('/images/installations/install-img-9.jpg')"></div>
        </div>
        <div class="md:w-1/2 h-auto px-4">
          <div class="mb-8"><img class="rounded shadow-md" src="/images/installations/install-img-3.jpg" alt=""></div>
          <div><img class="rounded shadow-md" src="/images/installations/install-img-4.jpg" alt=""></div>
        </div>
      </div>
    </section>
              
    <section class="pt-8 px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="md:w-1/2 px-4 mb-8 md:mb-0"><img class="rounded shadow-md" src="/images/installations/install-img-18.jpg" alt=""></div>
        <div class="md:w-1/2 px-4 mb-8 md:mb-0"><img class="rounded shadow-md" src="/images/installations/install-img-23.jpg" alt=""></div>
      </div>
      </section>
      <section class="pt-8 px-4">
      <div class=" flex flex-wrap -mx-4">
        <div class="mb-8 px-4 md:w-1/2 "><img class="rounded shadow-md" src="/images/installations/install-img-13.jpg" alt=""></div>
        <div class="mb-8 px-4 md:w-1/2"><img class="rounded shadow-md" src="/images/installations/install-img-16.jpeg" alt=""></div>

      </div> 
      </section>

      <section class="pt-8 px-4">
        <div class="w-full flex flex-col md:flex-row md:space-x-8 ">
          <div class="md:w-2/7 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/installations/install-img-19.jpg" alt=""></div>
          <div class="md:w-5/7 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/installations/install-img-2.jpg" alt=""></div>
         </div>
         <div class="w-full flex flex-col md:flex-row md:space-x-8 py-8  md:pr-12">
          <div class="w-full md:w-2/5 pb-6 "><img class="rounded shadow-md w-full  object-fit " src="/images/installations/install-img-20.jpg" alt="" ></div>
          <div class="w-full md:w-3/5 pb-6 "><img class="rounded shadow-md h-full w-full object-fit" src="/images/installations/install-img-23.jpg"  alt=""></div> 
         </div>
      </section>

      <section class="pt-8 px-4">
        <div class=" flex flex-wrap -mx-4">
          <div class="mb-8 px-4 w-full"><img class="rounded shadow-md  w-full object-fit" src="/images/installations/install-img-28.jpg" alt=""></div>
          <div class="mb-8 px-4 md:w-1/2 "><img class="rounded shadow-md  w-full h-full object-fit" src="/images/installations/install-img-27.jpg" alt=""></div>
          <div class="mb-8 px-4 md:w-1/2 "><img class="rounded shadow-md  w-full  object-fit" src="/images/installations/install-img-30.jpg" alt=""></div>
          
  
        </div> 
        </section>  
      
        <section class="px-4">
          <div class="w-full flex flex-col md:flex-row md:space-x-8 ">
            <div class="md:w-2/7 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/installations/install-img-31.jpg" alt=""></div>
            <div class="md:w-5/7 pb-6 "><img class="rounded shadow-md w-full h-full object-fit" src="/images/installations/install-img-32.jpg" alt=""></div>
           </div>
           <div class="w-full flex flex-col md:flex-row md:space-x-8 py-8  md:pr-12">
            <div class="w-full md:w-2/5 pb-6 "><img class="rounded shadow-md w-full  object-fit " src="/images/installations/install-img-17.jpg" alt="" ></div>
            <div class="w-full md:w-3/5 pb-6 "><img class="rounded shadow-md md:h-4/6 w-full object-fit" src="/images/installations/install-img-35.jpg"  alt=""></div> 
           </div>
        </section>

  </div>

  
</div>
