<div style="background-color: #ddd6ce1c;">
<div class="container ">
    <h2 class="pt-8 pb-4">{{.Params.frenchHead}}</h2>
    <h3 class="mb-4">{{.Params.frenchPara}}</h3>
    <p class="lg:ml-6 text-justify">{{.Params.frenchPara1}}</p>
    <div><a href="/contact/"><button
        class="btn text-white hover:text-gray-600 m-4 rounded px-4 py-1 lg:ml-6 outline-none focus"
      >
        Request Quote >
      </button></a>
  </div>
       <div class="mt-5 flex  flex-col place-items-center  ">
        <div class="relative bg-cover place-self-center my-6 w-full md:w-3/4">
            <img src="/images/TENTUFF-FRENCH-SECURITY-DOORS-CLOSEUP-LR.jpg"
                class="foto w-full h-full object-cover shadow-md p-4"
                alt="description" />
        </div>
        
        
</div>
</div>
</div>
<div class="bg-custom-yellow-light">
    <div class="container py-10 flex flex-col justify-center">
        <div class=" w-full md:w-2/3 w-full self-center">
            <div class="grid lg:grid-cols-2 py-10 gap-x-6 justify-center">
                <div class="w-full h-full  ">
                <img src="/images/sec-doors/french-door/TENTUFF-French-Door-pg.jpg"
                    class="w-full  " 
                    alt="description" />
                    </div>
                    <div class="w-full h-full py-6 md:py-0">
                      <h6 class=" pt-6 lg:pt-0 text-center">Movement in French Security Doors </h6>
                    <img  class="shadow-md place-self-start w-full h-full "alt="TENTUFF Hinged Security Door Animation" 
                src="/images/TENTUFF-FRENCH-DOOR-Animation.gif">
                </div>
            </div>
        </div>
</div>
</div>