<div  style="background-color: #ddd6ce1c;">
<section class="container ">
 <h2 class="pt-10 pb-4">{{.Params.testinghead1}}</h2> 
 <p class=" mb-4 text-justify"> {{.Params.testingPara1}}</p>  
 <h4 class="mt-6 mb-4">{{.Params.testinghead2}}</h4> 
 <p class=" mb-4 text-justify"> {{.Params.testingPara2}}</p>  
<h4 class="mt-6 mb-4">{{.Params.testinghead3}}</h4> 
 <p class=" mb-4 text-justify"> {{.Params.testingPara3}}</p>  
 <h4 class="mt-6 mb-4">{{.Params.testinghead4}}</h4> 
 <p class=" mb-4 text-justify"> {{.Params.testingPara4}}</p>  
 <h4 class="mt-6 mb-4">{{.Params.testinghead5}}</h4> 
 <p class=" pb-4 text-justify"> {{.Params.testingPara5}}</p>  

</section>
</div>