<div  style="background-color: #ddd6ce1c;">
<div class="container  p-4">
  <h2 class="pt-10 pb-4">{{.Params.preHeading1}}</h2>  
  <h3 class="my-2">{{.Params.preHeading2}}</h3>
  <p class="text-justify mt-4 lg:ml-4">{{.Params.preHeading3}}</p>
 <p class="text-justify lg:ml-4">{{.Params.prePara1}}
 {{.Params.prePara2}}
 {{.Params.prePara3}}</p>
 <p class="my-6 lg:ml-4 text-justify">{{.Params.prePara4}}<span class="font-semibold">{{.Params.phone}}</span>{{.Params.prePara4a}}<span class="font-semibold">{{.Params.address}}</span><span>{{.Params.prePara4b}}</span></p>
   <div class="flex flex-col lg:flex-row gap-6 justify-center">
     <div class="relative  mb-8 " style="width:400px; height:100"> 
    <img src="/images/prevent/preventimg1.jpg" class="foto w-full h-full object-cover rounded shadow-md" alt="">
</div> 
<div class="relative  mb-8 " style="width:400px; height:100"> 
    <img src="/images/prevent/preventimg2.jpg" class="foto w-full h-full object-cover rounded shadow-md" alt="">
</div> 
</div>
<div class="flex flex-col lg:flex-row gap-6 justify-center" >
<div class="relative  mb-8 " style="width:400px; height:100"> 
    <img src="/images/prevent/preventimg3.jpg" class="foto w-full h-full object-cover rounded shadow-md" alt="">
</div>  
<div class="relative  mb-8 " style="width:400px; height:100"> 
    <img src="/images/prevent/preventimg4.jpg" class="foto w-full h-full object-cover rounded shadow-md" alt="">
</div> 
   </div> 
    
    <p class="my-2 text-justify">{{.Params.prePara5}}</p>
    <p class="my-2 text-justify">{{.Params.prePara6}}</p>
</div>
</div>