<div  style="background-color: #ddd6ce1c;">
<div class="container mx-auto ">
    <h2 class="pt-10 pb-4 ">{{.Params.hingedHead}}</h2>
    <h3 class="pb-4">{{.Params.hingedHead1}}</h3>
    <p class="lg:ml-6">{{.Params.hingedPara}}</p>
    
    <div><a href="/contact/"><button
          class="btn text-white hover:text-gray-600 m-4 rounded px-4 py-1 lg:ml-6 outline-none focus"
        >
          Request Quote >
        </button></a>
    </div>
       <div class="flex flex-col items-center">
       <div class="mt-5 mb-8 w-full md:w-3/4" >
        <div class="object-content  place-self-center ">
            <img  class="foto shadow-md p-6 " src="/images/sec-doors/hing-door/TENTUFF-Hinged-Doorpg-Main-Img.jpg"
              alt="description" />
        </div>
       </div>
        <div class="py-8 flex md:w-2/3 justify-center">
          <iframe class="" id="video"
          src="https://www.youtube.com/embed/uNhYp3fXqWY?enablejsapi=1&amp;rel=0" allowfullscreen="" width="100%"
          height="315" frameborder="0"></iframe>
        </div>
       
            
            <div class="">
        <div class="grid lg:grid-cols-2 lg:my-10 place-items-center">
            
            <img src="{{.Params.hingedImg1}}"
                class="" style="width:307px;"
                alt="description" />
                <div>
                  <h6 class="pt-6 lg:pt-0 text-center">{{.Params.hingedImghead}}</h6>
                <img  class="shadow-md"alt="TENTUFF Hinged Security Door Animation" 
            src="{{.Params.hingedImg2}}">
            </div>
        </div>
    </div>
    </div>  
    
</div>
</div>
