<div  style="background-color: #ddd6ce1c;">
<section class="container ">
    <h2 class="pt-10 pb-4">{{.Params.warrantyHead1}}</h2>
    <p class="mb-6 text-justify">{{.Params.warrantyPara1}}</p>

    <h4 class="mb-4">{{.Params.warrantyHead2}}</h4>
    <p class="mb-6 text-justify">{{.Params.warrantyPara2}}</p>

    <h4 class="mb-4">{{.Params.warrantyHead3}}</h4>
    <p class="mb-6 text-justify">{{.Params.warrantyPara3}}</p>
    <h4 class="mb-4">{{.Params.warrantyHead4}}</h4>
    <p class="mb-6 text-justify">{{.Params.warrantyPara4}}</p>
    <h4 class="mb-4">{{.Params.warrantyHead4}}</h4>
    <p class="mb-2 text-justify">{{.Params.warrantyPara5}}</p>
    <p class="pb-6  text-justify">{{.Params.warrantyPara6}}</p>
</section>
</div>