{{ with .Site.Params.testimonal}}
{{ if .enable }}
{{ "<!-- Site Connect Digitize -->" | safeHTML }}
<div class="bg-custom-light-grey">
<div class="container py-10">
    <h2 class=" text-center">{{.thead}}</h2>
    <div class=" flex justify-center ">
   <blockquote class="testimonial flex flex-col justify-items-center space-x-3 sm:space-x-6"><svg class=""version="1.1" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 32 32" fill="#cc6f04">
        <title>quotes-left</title>
        <path d="M7.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.357-0.056 0.724-0.086 1.097-0.086zM25.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.358-0.056 0.724-0.086 1.097-0.086z"></path>
        </svg> <span class="">{{.tPara}}</span>
    </blockquote>
</div>
        <div class="grid  lg:grid-cols-2  pt-2 lg:pt-3  lg:mt-2 md:pt-7">
    <div class="md:justify-self-center md:w-1/2 lg:justify-self-end lg:w-1/2">
       <img class=""src="/images/home-page/testimonial-customer.png" >
    </div>  
        <div class="place-self-start">
            <p class="">{{.tPara1}}</p>
            <div class="flex gap-3">
            <svg class="" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#cc6f04" viewBox="0 0 20 20">
                
                <path d="M10 2.3c-9.828 0-10 0.874-10 7.7s0.172 7.7 10 7.7 10-0.874 10-7.7-0.172-7.7-10-7.7zM13.205 10.334l-4.49 2.096c-0.393 0.182-0.715-0.022-0.715-0.456v-3.948c0-0.433 0.322-0.638 0.715-0.456l4.49 2.096c0.393 0.184 0.393 0.484 0 0.668z"></path>
            </svg>
             <div class=""><a href="https://youtu.be/MutdRITttHo">Watch on Youtube</a></div>
            </div>    
        </div>
       </div>
   
    </div>
</div>
{{ "<!-- Site Hero End -->" | safeHTML }}
{{ end }}
{{ end }}